<div class="mb-5" *ngIf="isAddForm">
  <form action="" (ngSubmit)="onSubmitAdd()" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="" class="form-label">image</label>
      <input
        type="file"
        (change)="onFileSelected($event)"
        class="form-control"
      />
      <small id="helpId" class="form-text text-danger">{{
        errors?.image
      }}</small>
    </div>
    <div class="mb-3">
      <label for="" class="form-label">link</label>
      <input type="text" [(ngModel)]="link" name="link" class="form-control" />
      <small id="helpId" class="form-text text-danger">{{
        errors?.link
      }}</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<div class="mb-5" *ngIf="isEditForm">
  <form (ngSubmit)="onSubmitEdit()" enctype="multipart/form-data">
    <div class="mb-3">
      <img [src]="imgSrc" width="100" alt="Selected Image" />
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">Image</label>
      <input
        type="file"
        id="image"
        (change)="onFileSelected($event)"
        class="form-control"
      />
      <small class="form-text text-danger">{{ errors?.image }}</small>
    </div>
    <div class="mb-3">
      <label for="link" class="form-label">Link</label>
      <input
        type="text"
        id="link"
        [(ngModel)]="link"
        name="link"
        class="form-control"
      />
      <small class="form-text text-danger">{{ errors?.link }}</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-secondary" (click)="cancelEdit()">
      Cancel
    </button>
  </form>
</div>
<button (click)="displayFormAdd()" class="btn btn-primary">Form thêm</button>
<div class="row my-5">
  <h3 class="fs-4 mb-3">Recent Orders</h3>
  <div class="col">
    <table class="table bg-white rounded shadow-sm table-hover">
      <thead>
        <tr>
          <th scope="col" width="50">#</th>
          <th scope="col">Ảnh</th>
          <th scope="col">Đường dẫn</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let banner of banners">
          <th scope="row">{{ banner.id }}</th>
          <td>
            <img [src]="imgUrl + banner.image" width="100" height="100" />
          </td>
          <td>{{ banner.link }}</td>
          <td>
            <button class="btn btn-primary" (click)="displayEditForm(banner)">
              Sửa
            </button>
            <button class="btn btn-danger" (click)="onDelete(banner.id)">
              Xóa
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
