<div class="d-flex" [ngClass]="{ toggled: isActive }" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-white" id="sidebar-wrapper">
    <div
      class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom"
    >
      <i class="fas fa-user-secret me-2"></i>Codersbite
    </div>
    <div class="list-group list-group-flush my-3">
      <a
        routerLink="/admin"
        class="list-group-item list-group-item-action bg-transparent second-text active"
        ><i class="fas fa-tachometer-alt me-2"></i>Dashboard</a
      >
      <a
        routerLink="/admin/authors"
        class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
        ><i class="fas fa-project-diagram me-2"></i>Tác giả</a
      >
      <a
        routerLink="/admin/banners"
        class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
        ><i class="fas fa-project-diagram me-2"></i>Banner</a
      >

      <a
        routerLink="/admin/books"
        class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
        ><i class="fas fa-project-diagram me-2"></i>Book</a
      >

      <a
        routerLink="/admin/categories"
        class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
        ><i class="fas fa-project-diagram me-2"></i>category</a
      >

      <a
        routerLink="/admin/genres"
        class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
        ><i class="fas fa-project-diagram me-2"></i>Genre</a
      >

      <a
        routerLink="/admin/invoices"
        class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
        ><i class="fas fa-project-diagram me-2"></i>Invoice</a
      >

      <a
        routerLink="/admin/promotions"
        class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
        ><i class="fas fa-project-diagram me-2"></i>Promotion</a
      >
      <a
        routerLink="/admin/users"
        class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
        ><i class="fas fa-project-diagram me-2"></i>user</a
      >
      <a
        routerLink="/admin/ratings"
        class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
        ><i class="fas fa-project-diagram me-2"></i>rating</a
      >

      <a
        routerLink="/admin"
        class="list-group-item list-group-item-action bg-transparent text-danger fw-bold"
        ><i class="fas fa-power-off me-2"></i>Logout</a
      >
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
      <div class="d-flex align-items-center">
        <i
          class="fas fa-align-left primary-text fs-4 me-3"
          id="menu-toggle"
          (click)="toggleSidebar()"
        ></i>
        <h2 class="fs-2 m-0">Dashboard</h2>
      </div>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle second-text fw-bold"
              routerLink="/admin"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fas fa-user me-2"></i>John Doe
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/admin">Profile</a></li>
              <li><a class="dropdown-item" routerLink="/admin">Settings</a></li>
              <li><a class="dropdown-item" routerLink="/admin">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid px-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
