<section class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 col-lg-8 mb-4">
        <!-- Checkout -->
        <div class="card shadow-0 border">
          <div class="p-4">
            <h5 class="card-title mb-3">Thanh toán</h5>
            <form (ngSubmit)="onSubmit()">
              <input
                type="hidden"
                name="user_id"
                [(ngModel)]="userId"
                [value]="user?.id"
                name="user_id"
              />
              <div class="row">
                <div class="col-6 mb-3">
                  <p class="mb-0">Họ tên</p>
                  <div class="form-outline">
                    <input
                      type="text"
                      id="typeText"
                      [value]="user?.name"
                      placeholder="Type here"
                      class="form-control"
                      [(ngModel)]="name"
                      name="name"
                    />
                  </div>
                </div>

                <div class="col-6">
                  <p class="mb-0">Địa chỉ</p>
                  <div class="form-outline">
                    <input
                      type="text"
                      [value]="user?.address"
                      id="typeText"
                      placeholder="Type here"
                      class="form-control"
                      [(ngModel)]="address"
                      name="address"
                    />
                  </div>
                </div>

                <div class="col-6 mb-3">
                  <p class="mb-0">Điện thoại</p>
                  <div class="form-outline">
                    <input
                      type="tel"
                      id="typePhone"
                      [value]="user?.phone"
                      class="form-control"
                      [(ngModel)]="phone"
                      name="phone"
                    />
                  </div>
                </div>

                <div class="col-6 mb-3">
                  <p class="mb-0">Email</p>
                  <div class="form-outline">
                    <input
                      type="email"
                      id="typeEmail"
                      [value]="user?.email"
                      placeholder="example@gmail.com"
                      class="form-control"
                      [(ngModel)]="email"
                      name="email"
                    />
                  </div>
                </div>
              </div>

              <hr class="my-4" />

              <h5 class="card-title mb-3">Hình thức thanh toán</h5>
              <div class="row">
                <div class="col-sm-5 mb-3">
                  <div class="">
                    <div class="">Thanh toán khi giao hàng</div>
                  </div>
                </div>
              </div>

              <div class="float-end">
                <button class="btn btn-light border" routerLink="/cart">
                  Trở về
                </button>
                <button class="btn btn-success shadow-0 border">
                  Đặt hàng
                </button>
              </div>
            </form>
          </div>
        </div>
        <!-- Checkout -->
      </div>
      <div
        class="col-xl-4 col-lg-4 d-flex justify-content-center justify-content-lg-end"
      >
        <div class="ms-lg-4 mt-4 mt-lg-0" style="max-width: 320px">
          <h6 class="mb-3">Summary</h6>

          <div class="d-flex justify-content-between">
            <p class="mb-2">Total price:</p>
            <p class="mb-2 fw-bold">{{ totalPrice }}</p>
          </div>

          <hr />
          <h6 class="text-dark my-4">Items in cart</h6>

          <div
            *ngFor="let item of cartItems"
            class="d-flex align-items-center mb-4"
          >
            <div class="me-3 position-relative">
              <span
                class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-secondary"
              >
                1
              </span>
              <img
                [src]="imgBaseUrl + item?.book?.image"
                style="height: 96px; width: 96x"
                class="img-sm rounded border"
              />
            </div>
            <div class="">
              <a href="#" class="nav-link">
                {{ item?.book?.title }} <br />
                {{ item?.book?.author.name }}
              </a>
              <div class="price text-muted">
                Tổng: {{ caculateTotalPriceOfAnItem(item) }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
